<div class="container">
  <mat-card>
    <mat-card-content>
      <h1>Add a note</h1>
      <br />
      <form>
        <br />
        <label for="noteName">Title:</label><br />
        <mat-form-field>
          <input
            matInput
            name="noteName"
            placeholder="Introduce the title"
            required
            minlength="4"
            [(ngModel)]="title"
            [ngModelOptions]="{standalone: true}"
          />
        </mat-form-field>
        <br />
        <br />
        <label for="noteDescription">Description:</label><br /><br />
        <mat-form-field>
          <textarea
            matInput
            name="noteDescription"
            placeholder="enter a description"
            required
            minlength="10"
            [(ngModel)]="description"
            [ngModelOptions]="{standalone: true}"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose the category:</mat-label>
          <mat-select name="Category" *ngIf="categories" [(ngModel)]="categoryId">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
              >{{ category.name| uppercase }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <br />
        <br />
        <br />
        <button mat-button (click)="addNewNote()">Add</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
